.done {
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.incomplete {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.done-row {
  text-decoration: line-through;
}

.incomplete-row {
  text-decoration: none;
}

